body {
	/* background-image: url("../images/background-pattern-0110.png");
	background-size: 35px 35px; */	
	font-family: 'Audiowide', sans-serif;
	color: #8C918C;
	margin-bottom: 20px;
	background-color: black;
}

canvas {
	display: block;
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
}

header {
	font-family: 'Monoton', sans-serif;
	font-size: 50px;
	color: #4BD145;
}

#mainContainer {
/**	background-color: #0E0E0E; */
	width: 100%;
	min-height: 700px;
	text-align: center;
	padding-bottom: 60px;
	border-bottom: 3px solid #333;
	
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
/**
background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.94) 39%, rgba(122,122,122,0.92) 50%, rgba(128,128,128,0.92) 51%, rgba(89,89,89,0.9) 60%, rgba(28,28,28,0.85) 91%, rgba(19,19,19,0.84) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(36,36,36,1)), color-stop(39%, rgba(105,105,105,0.94)), color-stop(50%, rgba(122,122,122,0.92)), color-stop(51%, rgba(128,128,128,0.92)), color-stop(60%, rgba(89,89,89,0.9)), color-stop(91%, rgba(28,28,28,0.85)), color-stop(100%, rgba(19,19,19,0.84)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.94) 39%, rgba(122,122,122,0.92) 50%, rgba(128,128,128,0.92) 51%, rgba(89,89,89,0.9) 60%, rgba(28,28,28,0.85) 91%, rgba(19,19,19,0.84) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.94) 39%, rgba(122,122,122,0.92) 50%, rgba(128,128,128,0.92) 51%, rgba(89,89,89,0.9) 60%, rgba(28,28,28,0.85) 91%, rgba(19,19,19,0.84) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.94) 39%, rgba(122,122,122,0.92) 50%, rgba(128,128,128,0.92) 51%, rgba(89,89,89,0.9) 60%, rgba(28,28,28,0.85) 91%, rgba(19,19,19,0.84) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.94) 39%, rgba(122,122,122,0.92) 50%, rgba(128,128,128,0.92) 51%, rgba(89,89,89,0.9) 60%, rgba(28,28,28,0.85) 91%, rgba(19,19,19,0.84) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
*/

background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.85) 39%, rgba(122,122,122,0.81) 50%, rgba(128,128,128,0.81) 51%, rgba(89,89,89,0.77) 60%, rgba(28,28,28,0.65) 91%, rgba(19,19,19,0.62) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(36,36,36,1)), color-stop(39%, rgba(105,105,105,0.85)), color-stop(50%, rgba(122,122,122,0.81)), color-stop(51%, rgba(128,128,128,0.81)), color-stop(60%, rgba(89,89,89,0.77)), color-stop(91%, rgba(28,28,28,0.65)), color-stop(100%, rgba(19,19,19,0.62)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.85) 39%, rgba(122,122,122,0.81) 50%, rgba(128,128,128,0.81) 51%, rgba(89,89,89,0.77) 60%, rgba(28,28,28,0.65) 91%, rgba(19,19,19,0.62) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.85) 39%, rgba(122,122,122,0.81) 50%, rgba(128,128,128,0.81) 51%, rgba(89,89,89,0.77) 60%, rgba(28,28,28,0.65) 91%, rgba(19,19,19,0.62) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.85) 39%, rgba(122,122,122,0.81) 50%, rgba(128,128,128,0.81) 51%, rgba(89,89,89,0.77) 60%, rgba(28,28,28,0.65) 91%, rgba(19,19,19,0.62) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(36,36,36,1) 0%, rgba(105,105,105,0.85) 39%, rgba(122,122,122,0.81) 50%, rgba(128,128,128,0.81) 51%, rgba(89,89,89,0.77) 60%, rgba(28,28,28,0.65) 91%, rgba(19,19,19,0.62) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );


}

.breadcrumb {
	list-style: none;
	overflow: hidden;
	font-size: 14px;
}

.breadcrumb li {
	float: left;
}

.breadcrumb li a {
	color: #aad5c0;
	text-decoration: none;
	padding: 10px 0 10px 65px;
	background: green;
	background: #2d8058;
	position: relative;
	display: block;
	float: left;
	text-transform: lowercase;
}

.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid #2d8058;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}

.breadcrumb li:first-child a {
	padding-left: 15px;
}

.breadcrumb li:nth-child(2) a       { background:        #2a9260; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #2a9260; }
.breadcrumb li:nth-child(3) a       { background:        #58ca93; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #58ca93; }
.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
.breadcrumb li:last-child a {
	color: black;
}

/**
#pageNav {
        list-style: none;
        overflow: hidden;
        font-size: 14px;
	width: 100%;
}

#pageNav li {
	float: left;
	color: #aad5c0;
        text-decoration: none;
        padding: 10px 0 10px 65px;
        background: green;
        background: #2d8058;
        position: relative;
        display: block;
        float: left;
        text-transform: lowercase;
}
/**
#pageNav li a {
        color: #aad5c0;
        text-decoration: none;
        padding: 10px 0 10px 65px;
        background: green;
        background: #2d8058;
        position: relative;
        display: block;
        float: left;
        text-transform: lowercase;
}
*/

#pageNav {
    width: 95%;
    float: left;
    margin: 0 40px 1px 40px;
    padding: 0;
    background-color: transparent;
    border-bottom: 1px solid #555;
}

#pageNav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#pageNav ul li {
    float: left;
    text-decoration: none;
    color: ghostwhite;
    border-right: 1px solid #555;
    padding: 5px 15px;

}

#pageNav ul li a {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.subtitle {
        font-size: 40px;
        color: #54B37B;
        padding: 20px;
        border-bottom: 2px solid #333;
        text-transform: uppercase;
        text-shadow: 0px -3px 0px white, 0px 3px 2px black;
}


h2 {
	font-size: 30px;
	padding: 15px;
	margin: 2% 5% 2% 5%; 
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-left: 1px solid #839C6D;
	border-top: 1px solid #839C6D;
	border-right: 6px solid #5A7248;
	border-bottom: 6px solid #5A7248;
	text-transform: uppercase;
	background: #66B4BD;
	color: white;
}

a.category {
	display: block;
	padding: 15px;
	margin: 0 10%;
	font-size: 20px;
	font-family: 'Cutive Mono', sans-serif;
	border: 1px solid transparent;
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

a.category:hover {
	border: 1px solid 333;
	border-radius: 15px;
	cursor: pointer;
	color: #4BD145;
	background-color: #222;
	font-size: 22px;
}

/**
.topics {
	text-align: left;
	width: 95%;
    	float: left;
    	margin: 20px 40px 0 40px;
   	padding: 0;
    	background-color: white;
    	border-bottom: 1px solid #555;
	border-radius: 15px;
	background-color: white;
	overflow:hidden;
}

*/

/**
.topics ul {
    	list-style: none;
    	margin: 0 auto;
    	padding: 0;
}

.topics ul li {
    	float: left;
    	text-decoration: none;
    	color: black;
    	padding: 5px 15px;
	font-family: 'Cutive Mono', sans-serif;
}

.topics ul li:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
    	border-right: 1px solid #555;
	width: 50%;
}

.topics ul li:nth-child(2) {
        width: 10%;
    	border-right: 1px solid #555;
}

.topics ul li: last-child {
	max-width: 40%;
}

.topics #pageNav ul li a {
    display: block;
}

.topics:hover {
	background-color: red;
}

*/

table#forum-2-table {
	width: 95%;
	margin: 20px 40px 0 40px;
	text-align: left;
	font-family: 'Cutive Mono', sans-serif;
}

table#forum-2-table .topic:hover {
	background-color: #222;
	cursor: pointer;
	color: #4BD145;
}

table#forum-2-table th {
	color: white;
}

table#forum-2-table td, table#forum-2-table th {
	padding: 10px;
	border-bottom: 1px solid white;
}

.topic-title {
	min-width: 40%;
}

.topic-title a:hover {
	color: white; /** todo: change color later */
}

.add-area {
	width: 90%;
	display: block;
	padding: 20px 0;
	margin: 50px auto 0 50px;
	text-align: left;
}

.add-button {
	font-family: 'Audiowide', sans-serif;
	padding: 5px 10px;
	background-color: #D14343;
	font-size: 18x;
	border-radius: 15px;
	border-style: inset;
	color: white;
	box-shadow: -6px 5px 4px #222;
}

#posts {
	width: 90%;
	margin: 50px auto 50px 50px;
}

#posts-table {
	width: 100%;
}


#posts-table tr, td{
	/** margin: 0 50px 100px 50px; */
	font-family: 'Cutive Mono', sans-serif;
	font-size: 17px;
	font-weight: bold;
	border-collpase: collapse;
	background-color: transparent;
}


.user {
	width: 100px;
	background-color: #222;
	border-top-left-radius: 10px;
}

.user-image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.edit-post {
	text-align: right;
	color: black;
	background-color: #707D74;
	padding: 3px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.edit:hover {
	color: purple;
	cursor: pointer;
}

.message-body {
	color: #CED6D0;
	text-weight: 400;
	background-color: #2B2B2B;
}

.post-num {
	width: 50px;
	border-top-right-radius: 10px;
	font-size: 12px;
	background-color: #2B2B2B;
}

.username-field {
	color: white;
	float: left;
}

h3 {
	font-size: 32px;
        color: #54B37B;
        padding: 20px;
        text-transform: uppercase;
        text-shadow: 0px -3px 0px white, 0px 3px 2px black;
}
