* {
	color: #DED9D7;
}

#profile-area {
	width: 90%;
/**	height: 900px; */
	margin: auto;

	overflow: hidden;
	position: relative;
}

#left-panel {
	width: 200px;
	height: 100%;

/**
	position: absolute; 
	left: 0;
*/
	overflow: hidden;
	margin-top: 15px;

	float: left;
	margin-right: 15px;
}

#right-panel {
	height: 100%;
	margin-top: 15px;
	text-align: justify;
	overflow: hidden;
}

img {
	width: 200px;
	height: 200px;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
	padding-bottom: 100px;
}

#stats-area {
	margin-top: -95px;
}

#user-stats-table {
	text-align: right;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
	border-radius: 10px;
}


#user-stats-table tr {
	padding: 3px;

}

#user-stats-table td {
	font-size: 10px;
	padding: 3px;
	color: #DDEDE2;
	text-transform: uppercase;
	font-family: 'Audiowide', sans-serif;
}

.col-one {
	text-align: left;
	width: 40%;
}

#about-user-area {
	background-color: rgba(0, 0, 0, .7);
	padding: 20px;
	border-radius: 10px;
	color: #E1EBE4;
}

#post-history {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 10px;
	margin-top: 10px;
	color: #E1EBE4;
}

.history {
	border-bottom: 1px dashed #333;
	padding: 5px 0;
}

h4 {
	font-size: 20px;
	color: #555;
	padding: 0;
	margin: 0 0 5px 0;
	border-bottom: 1px solid #555;
}

a {
	color: gold;
}


.edit-icon {
	background-color: rgba(255, 255, 255, .9);
	width: 15px;
	height: 15px;
	border-radius: 5px;
	margin: 0;
	padding: 2px;
	float: right;
	/* box-shadow: -2px 2px 1px #555; */
	border: 1px solid white;
}

.edit-icon:hover {
	cursor: pointer;
}
