#pageNav {
    width: 100%;
    float: left;
    margin: 0 0 1px 0;
    padding: 0;
    background-color: #979797;
    border-bottom: 1px solid whitesmoke;
}

#pageNav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#pageNav ul li {
    float: left;
    text-decoration: none;
    color: ghostwhite;
    border-right: 1px solid whitesmoke;
    padding: 5px 15px;
}

#pageNav ul li a {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

#currentPage {
    color: blue;
}

table, th, td {
    /*margin-top: 15px;*/
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    margin: 40px 0 auto;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
    padding: 10px 0;
}

table {
    width: 100%;
}

th {
    border-top: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding-right: 15px;
    padding-left: 15px;
    text-transform: lowercase;
    overflow-x: hidden;
}

.topicTitle {
    width: 40%;
}


tr:hover {
    background-color: mediumaquamarine;
}