#boards {
    /*color: white;*/
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.categoryHeading {
    padding-top: 10px;
    /*text-align: center;*/
    font-size: 20px;
    padding-left: 10px;
    text-transform: uppercase;
}

.category {
    background-color: #54a884;
    margin: 10px 10px 10px 10px;
    padding: 5px
}

.picContainer {

}

.titleContainer {
    font-size: 25px;
    text-transform: lowercase;
}
